{% for key,value in ar_file_input.items() %}

{%- if key != "" -%}
	tno_dynamics_in{{key}}C -> tno_dynamics_in{{value}}S;
{% else %}
-> tno_dynamics_in{{value}}S;

{% endif -%}


{%- endfor -%}
    


{% for key,value in ar_file_output.items() %}

{%- if key != "" -%}

{%- if value != "" -%}
tno_dynamics_out{{key}}S -> tno_dynamics_out{{value}}C;
{% else %}
tno_dynamics_out{{key}}S -> ;
{% endif -%}
{% else %}
-> tno_dynamics_in{{value}}S;

{% endif -%}


{%- endfor -%}
    